<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header',{user_name: user_name, user_id: user_id}) %>
      <title>Follows</title>
  </head>

  <body>
    <div class="border-bottom">
      <div class="container">
        <h1 class="text-center">
          <%= title %>
        </h1>
        <div class="row">
          <%- include('partials/profile') %>
            <div class="mt-3">
              <div class="col-sm-6">
                <dl>
                  <% for(let follow of follows) { %>
                    <% if(follow) { %>
                      <h5>
                        <a href="/users/<%=follow.following_id %>">
                          <%= follow.name %>
                        </a>
                      </h5>
                      <br>
                      <% }; %>
                        <% }; %>
                </dl>
              </div>
            </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>