<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <% if(typeof error==='undefined' ){ %>
      <%- include('header',{user_name: user_name, user_id: user_id}) %>
        <title>Followers</title>
  </head>

  <body>
    <div class="border-bottom">
      <div class="container">
        <h1 class="text-center">
          <%= title %>
        </h1>
        <div class="row">
          <%- include('partials/profile') %>
            <div class="mt-3">
              <div class="col-sm-6">
                <% for(let following of followers) { %>
                  <% if(following) { %>
                    <h5>
                      <a href="/users/<%=following.followed_id %>">
                        <%= following.name %>
                      </a>
                    </h5>
                    <br>
                    <% }; %>
                      <% }; %>
                        </dl>
              </div>
            </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    <% } else { %>
      <h1>
        <%=error %>
      </h1>
      <% } %>
        <%- include('partials/bootstrap'); %>
  </body>

</html>