<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header') %>
  </head>

  <body>
    <div class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <% if(user_name) { %>
              <form action="/" method="post">
                <div class="row">
                  <div class="col-sm-2">
                    <a href="/users/<%=user_id %>"> <img
                        src="https://ja.gravatar.com/userimage/198854425/da5b60637a0811fde3ed6b701c8473cd.png?size=60" />
                    </a>
                  </div>
                  <div class="col-sm-10">
                    <h2>
                      <%= user_name %>
                    </h2>
                    <h5><a href="/users/<%=user_id %>">View My Profile</a></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-1">
                    <h5>
                      <%=microposts %>
                    </h5>
                  </div>
                  <div class="col-sm-11">
                    <h5>microposts</h5>
                  </div>
                  <div style="color:gray" class="col-sm-3">
                    <a href="/users/<%=user_id %>/following">
                      <h5 style="color:gray">
                        <%=followed_id %>
                      </h5>
                    </a>
                    <h5>Following</h5>
                  </div>
                  <div style="color:gray" class="col-sm-9">
                    <a href="/users/<%=user_id %>/followers">
                      <h5 style="color:gray">
                        <%=follower_id %>
                      </h5>
                    </a>
                    <h5>Followers</h5>
                  </div>
                </div>
                <br>
                <textarea name="content" placeholder="Compose new micropost..." cols="50" rows="4"></textarea>
                <br>
                <input class="btn btn-primary col-sm-9" type="submit" value="Post" />
                <br>
                <br>
              </form>
          </div>
          <div class="col-sm-6">
            <div class="border-bottom mb-3">
              <h3>Micropost Feed</h3>
            </div>
            <% contentList.forEach(function(contentItem) { %>
              <div class="border-bottom mb-3">
                <div class="row">
                  <div class="col-sm-2">
                    <a href="/users/<%=user_id %>"> <img
                        src="https://ja.gravatar.com/userimage/198854425/da5b60637a0811fde3ed6b701c8473cd.png?size=60" />
                    </a>
                    <br>
                    <br>
                    <form action="/delete/<%= contentItem.id %>" method="POST">
                      <input type="hidden" name="id" value="<%= contentItem.id %>">
                      <input class="btn btn-primary" type="submit" value="delete">
                    </form>
                  </div>
                  <div class="col-sm-10">
                    <h5><a href="/users/<%=user_id %>">
                        <%= user_name %>
                      </a></h5>
                    <p>
                      <%= contentItem.content %>
                    </p>
                    <p>
                      <font color="gray">Posted ago.</font>
                    </p>
                  </div>
                </div>
                <br>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
    <% }else{ %>
      </div>
      </div>
      </div>
      <div class="container col-sm-8">
        <div class="jumbotron text-center">
          <h1>
            <%= title %>
          </h1>
          <form action="/accounts/signup" method="get" class="task-form">
            <input class="btn btn-primary" type="submit" value="Sign up now!" />
          </form>
        </div>
      </div>
      <% } %>
        <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>