<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header') %>
  </head>

  <body>
    <div class="border-bottom mt-4">
      <div class="container col-md-9">
        <% if(user_name) { %>
          <h1>
            <%= title %>
          </h1>
          <form action="/" method="post">
            <h2>
              <%= user_name %>
            </h2>
            <h5><a href="/users/<%=user_id %>">View My Profile</a></h5>
            <p><textarea name="content" placeholder="Compose new micropost..." cols="49" rows="5"></textarea></p>
            <input class="btn btn-primary col-sm-5" type="submit" value="Post" />
            <br>
            <br>
            <textarea readonly cols="50" rows="10"><%= contentList[user_id - 1].content %></textarea>
          </form>
          <% }else{ %>
            <div align="center">
              <div class="jumbotron">
                <h1>
                  <%= title %>
                </h1>
                <form action="/accounts/signup" method="get" class="task-form">
                  <input class="btn btn-primary" type="submit" value="Sign up now!" />
                </form>
              </div>
            </div>
            <% } %>
      </div>
    </div>
    <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>