<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header') %>
  </head>

  <body>
    <div class="border-bottom mb-5">
      <div class="container col-sm-6">
        <h1 class="text-center">
          <%= title %>
        </h1>
        <form action="/accounts/signup" method="post" class="board-form">
          <%- include('partials/relationships') %>
            <div align="center">
              <input class="btn btn-primary col-sm-12 mb-3" type="submit" value="Sign Up">
            </div>
        </form>
      </div>
    </div>
    <%- include('partials/message'); %>
    <%- include('partials/bootstrap'); %>
  </body>

</html>